body {
    margin: 0;
    font-family: Arial;
    background-color: #b9c9f0;
}

#div_form {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;  
    background-color: #b9c9f0;
    padding-top: 30px; 
}

#form {
    padding: 20px;
    border-radius: 20px;
    width: 600px;
    background-color: #e3ecfe;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

#result_form {
    padding: 20px;
    border-radius: 20px;
    width: 450px;
    background-color: #e3ecfe;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    font-family: Arial;  
    word-break: break-all;

}

#result_form div {
    text-align: left;
    font-size: 16px;
    white-space: pre-wrap; /*чтобы было как надо*/
}

.block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 15px;
}

.block h3 {
    font-size: 28px;
    text-align: center;
    width: 100%;
    margin: 0 15px;
}

.block h5 {
    font-size: 20px;
    margin-bottom: 6px;
}

.block input {
    width: 70%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}

.block button {
    width: 80%;
    height: 50px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 20px;
}

.invisible {
    display: none;
}
